 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a software and computer engineer working as a consultant, combining my experience in computer vision, machine learning, system theory, optics and web development.</p>
                </div>
                <div class="col-lg-4">
                    <p>I work with clients ranging from solo entrepreneurs to some of the world’s largest private companies and public institutions.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="martin_enCV.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Check My Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
